.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.game {
  background: white;
  width: 600px;
  height: 450px;
  border-radius: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.title {
  text-align: center;
}

body {
  background-color: rgb(237, 235, 235);
}

.rock-start {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
}

.rock-start-1,
.rock-start-2 {
  height: 170px;
  width: 150px;
  margin-top: 10px;
  position: relative;
}

.rock-start-1 {
  transform: rotate(90deg);
}

.rock-start-2 {
  transform: rotateY(180deg) rotate(90deg);
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.rock,
.paper,
.scissors {
  width: 80px;
  height: 100px;
}

@keyframes shoot {
  0% {
    top: 0px;
  }
  16% {
    top: 40px;
  }
  32% {
    top: 0px;
  }
  48% {
    top: 40px;
  }
  64% {
    top: 0px;
  }
  80% {
    top: 40px;
  }
  100% {
    top: 0px;
  }
}

.winner {
  text-align: center;
  margin-top: 45px;
  font-family: monospace;
  color: rgb(115, 48, 223);
}
